<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<head>
    <title>HostedPayment Test Page</title>    

</head>

<body>    
<iframe id="add_payment" class="embed-responsive-item panel" name="add_payment" 
     style="width:100%;height:700px" frameborder="0" scrolling="no"></iframe>
    
    <form #form id="send_token" action="https://test.authorize.net/payment/payment" 
    method="post" target="add_payment" style="display:block">
        <input type="hidden" name="token" [value]="anetToken" />
    </form>

    <form id="send_token" action="" method="post" target="add_payment">
        <input type="hidden" name="token" [value]="anetToken" />
    </form>
</body>
</html>
    